<!--Contenido temporal -->
<div class="container-fluid vh-100">
  <div class="row h-100">
      <!-- SideBard -->
      <div class="col-md-2 bg-dark text-white p-3">
          <h4>Prestame</h4>
          <ul class="nav flex-column">
              <li class="nav-item"><a href="#" class="nav-link text-white">Prestamos</a></li>
              <li class="nav-item"><a href="#" class="nav-link text-white">Usuarios</a></li>
          </ul>
      </div>
      
      <!-- Contenido principal  -->
      <div class="col-md-10 bg-light p-4">
          <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
              <span class="navbar-brand">Vista</span>
          </nav>

          <!-- Lista de herramientas -->
          <div class="row">
              <div class="col-md-4">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h5 class="card-title">Herramienta</h5>
                          <p class="card-text">Disponible</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<router-outlet />